
<html>
<head>
  <title>Budget</title>
<link type="text/css"
href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/base/jquery-ui.css"
rel="Stylesheet" media="screen"/>
</head>

<body>
<div style="width:400px">
<h1>
Amount Left = {{ total_left }} RMB
</h1>

<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Submit</button>
</form>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script type="text/javascript">
$(function() {
$( ".datePicker" ).datepicker();
});
</script>
</div>
</body>

</html>
